.header {
  padding: 1.2rem 0;
  background-color: var(--color-light);
  border-bottom: 0.1rem solid transparent;
  transition: 0.25s padding ease-in-out;

  @include breakpoint(tablet-up) {
    padding: 1.5rem 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet-up) {
      flex-direction: row;
    }
  }

  &__logo {
    display: flex;
  }
  
  &__tagline{
    display: flex;
    margin-top: 1rem;
    margin-left: auto;
    padding-left: 1rem;

    @include breakpoint(tablet-up) {
      margin-top: auto;
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
    border-bottom-color: var(--color-grey);
    padding: 0.8rem 0;
    z-index: 9;
  }
}